.text-teal {
    color: #2EC4B6;
}

.text-yellow {
    color: #FFB551;
}

.bg-teal {
    background-color: #2EC4B6;
}

.bg-yellow {
    background-color: #FFB551;
}

.text-white {
    color: #FFFFFF;
}

.border-yellow {
    border: 3px solid #FFB551;
}