.Header-Desktop2 {
    background-color: #FFB551;
    padding: -100px;
    position: relative;
    width: 100%;
    height: 420px;
}

.nav-bar2 {
    background-color: #FFB551;
}

.login-btn2 {
    background-color: #2EC4B6;
}

.Hero-image2 {
    margin-top: -338px;
}

.slang-image2 {
    color: white;
    width: 40%;
    padding: 30px;
    padding-right: -50px;
}

.Order-now2 {
    background-color: #2EC4B6;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    margin-bottom: 120px;
    margin-left: 120px;
}

.Hero-image2 {
    margin-top: -365px;
}

.Hero-image3 {
    margin-top: -335px;
}

.slang-image3 {
    width: 40%;
    padding: 70px;
    padding-right: -70px;
}

@media (max-width: 766px) {
    .Header-Desktop2 {
        height: 180px;
    }

    .Hero-image2 {
        margin-top: -20%;
    }

    .slang-image2 {
        width: 45%;
    }

    .Order-now2 {
        padding: 0;
        margin-left: 0%;
        margin-bottom: -13%;
        width: 110px;
    }

    .Order-button-header {
        margin-bottom: 80%;
    }
}