.Header-Desktop {
    background-color: #2EC4B6;
    padding: -100px;
    position: relative;
    width: 100%;
    height: 420px;
    margin-bottom: 18%;
}

.Hero-image {
    margin-top: -280px;
}

.slang-image {
    color: white;
    width: 40%;
    padding: 30px;
    padding-right: -50px;
}

.Order-now {
    background-color: #FFB551;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    margin-bottom: 120px;
    margin-left: 120px;
}