.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px 20px 60px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
 }
 
.nav-bar{
    background-color: #2EC4B6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.cart-icon {
    width: 70%;
    margin-top: -15%;
}

.Logo{
    width: 20%;
    margin: 10px 7px;
}

.Links {
    width: 60%;
    height: 100%;
}

.Links ul {
    display: flex;
    justify-content: space-between;
    color: white;
}

.Login {
    display: flex;
    justify-content: flex-end;
    width: 10%;
}

.search-icon {
    width: 40%;
}

.login-btn {
    background-color: #FFB551;
    color: white;
    border-radius: 15px;
    padding: 7px 20px;
    margin: 1px 8px 15px;
    margin-right: 40px;

}