.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px 20px 60px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.nav-bar-desktop {
    background-color: #2EC4B6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-icon {
    width: 50%;
    margin-top: -13%;
}

.Logo {
    width: 20%;
    margin: 10px 7px;
}

.Links {
    width: 60%;
    height: 100%;
    padding-left: 5%;
    padding-top: 2%;
}

.Links ul {
    display: flex;
    justify-content: space-between;
    color: white;
    padding-left: 5%;
}

.Login {
    display: flex;
    justify-content: flex-end;
    width: 10%;
    padding-top: 2%;
}

.search-icon {
    width: 40%;
}

.login-btn {
    background-color: #FFB551;
    color: white;
    border-radius: 15px;
    padding: 7px 20px;
    margin: 1px 8px 15px;
    margin-right: 40px;
}

.Links4 ul {
    display: flex;
    font-size: xx-large;
    justify-content: space-between;
    color: white;
    padding-right: 60%;
    gap: 30%;
}

.Logo4 {
    width: 20%;
    margin: 20px 150px;
    margin-left: -40%;
}

.NavBar-Home-Mobile {
    display: none;
}

@media (max-width: 766px) {
    .nav-bar-desktop {
        display: none;
    }

    .Mobile {
        display: flex;
    }

    .NavBar-Home-Mobile {
        display: flex;
        background-color: #2EC4B6;
        color: white;
        padding-top: 5%;
    }

    .search-icon {
        padding-left: 2%;
        padding-top: 1%;
        margin-left: 5%;
    }

    .cart-icon {
        width: 50%;
        padding-top: 14%;
    }

    .Logo {
        scale: 2;
        margin-left: 5%;
        align-items: center;
        padding-top: 1%;
    }

    .Mobile-Login {
        margin-right: 5%;
        width: 50px;
        padding-top: 1%;
    }

    .Mobile-Burger {
        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;
        width: 70px;
        padding-left: 5%;
    }

    .Mobile-Navbar {
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        color: white;
        display: flex;
    }

    .Mobile-Nav {
        display: none;
        flex-direction: column;
    }

    .Mobile-Nav.active {
        display: flex;
        position: absolute;
        top: 75px;
        left: -1px;
        z-index: 1;
        width: 100%;
        align-items: center;
        padding: 5px;
        background: rgb(255, 181, 81);;
        opacity: 0.7;
        border: none;
        box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.27);
    }

}